<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleScriptEditorIdentifier</key>
	<string>com.microsoft.VSCode</string>
	<key>DidMigrateFastScripts2Preferences</key>
	<true/>
	<key>DisplayWelcomeV20</key>
	<false/>
	<key>HideScriptlightSearchField</key>
	<true/>
	<key>IncludeApplicationsFolder</key>
	<false/>
	<key>MenuBarIconHidden</key>
	<integer>1</integer>
	<key>MenuKeyboardAccessShortCutKeyEnabled</key>
	<true/>
	<key>MergeScriptTreesForMenu</key>
	<false/>
	<key>RSEnableRedSweaterNewsChecks</key>
	<true/>
	<key>RecentScriptsMenuMax</key>
	<integer>0</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>ScriptShortcuts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEA8LDBUWHiQqNTs8QEFFSU1V
	JG51bGzTDQ4PEBIUV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OhEYACoROAA4ANVlNh
	ZmFyadQXGBkPGhEcHVdob3RLZXlzWXRhcmdldEFwcFJrY4AEgAIJgA7TDQ4PHyEUoSCA
	BaEigAeADdMlJg8nKClSJDFSJDARAQAQEYAG0yssLS4vM1okY2xhc3NuYW1lWCRjbGFz
	c2VzWyRjbGFzc2hpbnRzXVJTSG90S2V5Q29tYm+jMDEyXVJTSG90S2V5Q29tYm9fEBNS
	U0NvbnRhaW5hYmxlT2JqZWN0WE5TT2JqZWN0oTRbSG90S2V5Q29tYm/TNjcPODk6XxAZ
	a1BlcnNpc3RlbnRUYXJnZXRCb29rbWFya18QHWtQZXJzaXN0ZW50VGFyZ2V0UmVsYXRp
	dmVQYXRogAmACIAMXxBLfi9MaWJyYXJ5L1NjcmlwdHMvQXBwbGljYXRpb25zL1NhZmFy
	aS9OZXdTYWZhcmlUYWJOZXh0VG9DdXJyZW50LmFwcGxlc2NyaXB00j0PPj9fEBZrQm9v                         a21hcmtDb2RpbmdEYXRhS2V5gAqAC08RBFRib29rVAQAAAAABBAwAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQAwAABQAAAAEBAABVc2VycwAAAAkAAAABAQAA
	cm9kaW9ub3ZkAAAABwAAAAEBAABMaWJyYXJ5AAcAAAABAQAAU2NyaXB0cwAMAAAAAQEA
	AEFwcGxpY2F0aW9ucwYAAAABAQAAU2FmYXJpAAAlAAAAAQEAAE5ld1NhZmFyaVRhYk5l
	eHRUb0N1cnJlbnQuYXBwbGVzY3JpcHQAAAAcAAAAAQYAAAQAAAAUAAAAKAAAADgAAABI
	AAAAXAAAAGwAAAAIAAAABAMAAIRcAAAAAAAACAAAAAQDAAANwAMAAAAAAAgAAAAEAwAA
	FMADAAAAAAAIAAAABAMAAHeOiwkAAAAACAAAAAQDAADS7IsJAAAAAAgAAAAEAwAA0+yL
	CQAAAAAIAAAABAMAAGitjAkAAAAAHAAAAAEGAADAAAAA0AAAAOAAAADwAAAAAAEAABAB
	AAAgAQAACAAAAAAEAABBxueliBwr/BgAAAABAgAABAAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHG1RdMgAAAJAAA
	AAEBAAA3RTI5ODc1OC0xQjQ0LTRCNTQtODAxOC0xRUQ4MzE2RUQ3NDAYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAAwEAAAECAABi
	NjdkNDNmMGVkYjVlM2RjOWNmNmQ0YWEyMWQ5NTVkYzFlNWNkODY4M2ZmZDZhNzg1YTE5
	NGVkNWI5ZTFjNTc2OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
	MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAw
	MTA7MDAwMDAwMDAwOThjYWJiYjswMTsvdXNlcnMvcm9kaW9ub3ZkLy5kb3RmaWxlcy9h
	cHBzL2Zhc3RzY3JpcHRzL25ld3NhZmFyaXRhYm5leHR0b2N1cnJlbnQuYXBwbGVzY3Jp
	cHQAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAJwAAAAAAAAABRAAADABAAAAAAAAEBAA
	AGQBAAAAAAAAQBAAAFQBAAAAAAAAAiAAADACAAAAAAAABSAAAKABAAAAAAAAECAAALAB
	AAAAAAAAESAAAOQBAAAAAAAAEiAAAMQBAAAAAAAAEyAAANQBAAAAAAAAICAAABACAAAA
	AAAAMCAAADwCAAAAAAAAAcAAAIQBAAAAAAAAEcAAABQAAAAAAAAAEsAAAJQBAAAAAAAA
	gPAAAEQCAAAAAAAA0issQkNaUlNCb29rbWFya6JEMlpSU0Jvb2ttYXJr0issRkdfEBRQ
	ZXJzaXN0ZW50VHJlZVRhcmdldKJIMl8QFFBlcnNpc3RlbnRUcmVlVGFyZ2V00issSktf
	EBNOU011dGFibGVEaWN0aW9uYXJ5o0pMMlxOU0RpY3Rpb25hcnnSKyxOT18QE0hvdEtl
	eVByZWZlcmVuY2VTZXSiUDJfEBNIb3RLZXlQcmVmZXJlbmNlU2V0AAgAEQAaACQAKQAy
	ADcASQBMAFEAUwBlAGsAcgB6AIUAjACOAJAAkgCUAJYAnQCmAK4AuAC7AL0AvwDAAMIA
	yQDLAM0AzwDRANMA2gDdAOAA4wDlAOcA7gD5AQIBDgEcASABLgFEAU0BTwFbAWIBfgGe
	AaABogGkAfIB9wIQAhICFAZsBnEGfAZ/BooGjwamBqkGwAbFBtsG3wbsBvEHBwcKAAAA
	AAAAAgEAAAAAAAAAUQAAAAAAAAAAAAAAAAAAByA=
	</data>
	<key>ScriptTreePathsKey</key>
	<array>
		<string>/Network/Library/Scripts</string>
		<string>~/Library/Scripts</string>
	</array>
	<key>SelectedPreferencePaneKey</key>
	<string>ScriptMenu</string>
	<key>ShowCurrentApplicationLabel</key>
	<true/>
	<key>ShellScriptEditorIdentifier</key>
	<string>com.microsoft.VSCode</string>
	<key>ShowScriptCommandsInFSMenu</key>
	<false/>
</dict>
</plist>
