<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BeepBeepOnTheHour</key>
	<string>0</string>
	<key>ClockFormat</key>
	<string>H:mm</string>
	<key>MenuBarIconType</key>
	<integer>1</integer>
	<key>MoCalendarNumRows</key>
	<string>6</string>
	<key>ShowDayOfWeekInIcon</key>
	<true/>
	<key>ShowDaysWithNoEventsInAgenda</key>
	<string>0</string>
	<key>ShowEventDays</key>
	<string>3</string>
	<key>ShowLocation</key>
	<string>0</string>
	<key>ShowMonthInIcon</key>
	<true/>
	<key>SizePreference</key>
	<string>0</string>
	<key>UseColoredDots</key>
	<false/>
</dict>
</plist>
