"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "autoflow"
      "bookmarks"
      "image-view"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "*.pyc"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-syntax"
    ]
  "tree-view":
    hideIgnoredNames: true
  editor:
    invisibles: {}
    tabLength: 4
    stripTrailingWhitespace:
      singleTrailingNewline: true
    softWrap: true
    scrollSensitivity: 25
    fontFamily: "Monaco"
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    backUpBeforeSaving: true
  "autocomplete-python": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "autocomplete-plus": {}
  "todo-show": {}
  "travis-ci-status": {}
  "exception-reporting":
    userId: "1428bea9-2829-ac12-e6c8-09465f92ff49"
  autosave:
    enabled: true
  "atom-scrolloff":
    scrolloff: 7
".python.source":
  editor:
    autoIndentOnPaste: false
