"*":
  "atom-scrolloff":
    scrolloff: 7
  "autocomplete-plus": {}
  "autocomplete-python": {}
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "autoflow"
      "bookmarks"
      "image-view"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "*.pyc"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Monoid"
    fontSize: 12
    invisibles: {}
    scrollSensitivity: 25
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    stripTrailingWhitespace:
      singleTrailingNewline: true
    tabLength: 4
  "exception-reporting":
    userId: "1428bea9-2829-ac12-e6c8-09465f92ff49"
  "linter-rubocop":
    command: "/usr/local/bin/rubocop"
  "todo-show": {}
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".python.source":
  editor:
    autoIndentOnPaste: false
